h1{
	font-size: 5em;
}
button{
  -webkit-appearance: none;
	background-color: none;
	border: none;
}
input{
	-webkit-appearance: none;
	border:none;
	background-color: inherit;
}
input[type="file"] {
	display: none
}
input[type="text"]{
	border: 1px solid grey;
}
a{
	text-decoration: none;
	color: inherit;
}
p{
	background-color: inherit !important;
}
.main-content{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: wheat;
}
.custom-upload{
	 font: 11px system-ui;
}
.face-select {
	margin: 10px;
	padding: 5px 15px;
	font-size: 1.5em;
	color: grey;
	background-color: pink;

}

.feature-btns{
	margin: 0;
	color: white;
	width: 6.2em;
	padding: 5px 15px;
	font-size: 1.5em;
	background-color: black;
}


.footer{
	margin-top: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2em;
	height: 5vh;
	background-color: grey;
	color: white;
	padding: 0px 30px;

}
.color-form{
	display: flex;
}
.form-item{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-item > input{
	margin: 10px;
	height:100px;
	width: 100px;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

#container {
	position : relative;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sketch {
	display: none;
}

#filter {
	display: none;
}

#convergence {
	display : inline;
	font-size: 2em;

}

.hide {
	display : none;
}
